<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Main Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item [routerLink]="['/home']" routerLinkActive="router-link-active" >
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/actionsheet']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="accessibility-outline"></ion-icon>
              <ion-label>Action Sheet</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/accordion']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="chevron-down"></ion-icon>
              <ion-label>Accordion</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/buttons']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="radio-button-on"></ion-icon>
              <ion-label>Buttons</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/alert']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="alert"></ion-icon>
              <ion-label>Alert</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/badge']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="ellipsis-horizontal-circle-outline"></ion-icon>
              <ion-label>Badge</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/breadcrumbs']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="pizza"></ion-icon>
              <ion-label>Breadcrumbs</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/cards']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="card"></ion-icon>
              <ion-label>Cards</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/datetime']" routerLinkActive="router-link-active">
              <ion-icon slot="start" name="calendar"></ion-icon>
              <ion-label>Date & Time Picker</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
